:root {
    --gradient: linear-gradient(200deg,#ebe4d5, #728d7b , #beba4c);
}

.gradient-animation {
    background-size: 400%;
    background-image: var(--gradient);
    animation: bg-animation 30s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}
